//引入公共stylus
@import '../../../src/common/common'

.PMsite
    .header 
        position: fixed
        top: 0
        left: 0
        right: 0
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0  9* $vwSize
        height: 45 * $vhSize
        background-color: $mainBgColor
        color: $mainColor
        z-index :999
        .search
           width: 60*$vwSize
        .location
            width: 120*$vwSize
            height: 20 * $vhSize
            line-height: 20 * $vhSize
            font-size: 22px
            font-weight: 500
        .loginAndRegister  
            width: 60*$vwSize
            text-align: right     
            font-size: 14px

    .nav
        
        background-color: $mainColor
        .navList
            display: flex
            flex-wrap: wrap
            margin: 0 auto
            padding-top: 65px
            .item
                width: 25%
                height: 73px
                margin-bottom: 20 * $vhSize
           
            .itemA
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 73px
                img
                    width: 50px
                    height: 50px
                    margin: 0 auto
                span
                    text-align: center
                    font-size: 13px
                    color: #666
    .content
        margin-top: 10 * $vhSize
        background-color: $mainColor
        border-top 1px solid #e4e4e4
        width: 100%
        .contentHeader
            padding-top: 10 * $vhSize
            width: 95%
            margin: 0 auto
            font-size: 14px
            color: #666
            i
              margin-right: 7 * $vhSize

        .contentMain
            width: 100%
            .contentList
                width: 100%
                .contentItem
                    width: 100%
                    height: 105 * $vhSize
                    padding: 13.5* $vhSize 0
                    border-bottom:  1px solid #e4e4e4
                    .contentShop
                        width: 100%
                        display:flex
                        justify-content: space-between
                        
                        .contentShopLeft
                            width:73.65 * $vhSize
                            margin-left: 10 * $vhSize
                            
                            img
                                width:73.65 * $vhSize
                                height: 75 * $vhSize
                        .contentShopRight
                           
                            height: 75 * $vhSize
                            padding: 0 10 * $vhSize
                            flex: 1
                            display: flex 
                            flex-direction: column 
                            justify-content: space-between
                            .contentShopRightTop
                                display: flex
                                justify-content: space-between
                                align-items: center
                                height: 17 * $vhSize
                                
                                .shopTitle
                                    width: 140 * $vhSize
                                    height: 17 * $vhSize
                                    color: rgb(51,51,51)
                                    font-size: 16* $vhSize
                                    &::before
                                        content:'品牌'
                                        width: 22 * $vhSize
                                        height: 11 * $vhSize
                                        background-color: rgb(225,217,48)
                                        color: rgb(51,51,51)
                                        font-size: 10* $vhSize
                                        font-weight: 800
                                        padding: 2* $vhSize
                                        margin-right: 5 * $vhSize

                                .shopTag
                                    display: flex
                                    font-size: 10px
                                    color: #aaa
                                    border: 1px solid #e4e4e4
                                    padding-top: 1px
                                    .shopTagItem
                                        padding: 0 2px
                                        &:nth-child(1)
                                            border-right: 1px solid #e4e4e4
                                        &:nth-child(2)
                                            border-right: 1px solid #e4e4e4   
                            .contentShopRightMiddle
                                display: flex
                                justify-content: space-between
                                .ratingLeft
                                    width:124 * $vhSize
                                    height: 10 * $vhSize
                                    font-size: 10 * $vhSize
                                    display: flex
                                    line-height: 12 * $vhSize
                                    .star
                                        width:10* $vhSize
                                        height: 10 * $vhSize
                                        
                                        background-size: 10* $vhSize 10* $vhSize
                                        margin-left: 1 *$vhSize
                                    .starFull
                                        background-image: url('../../assets/imgs/stars/star24_on@2x.png') 
                                    .starHalf
                                        background-image: url('../../assets/imgs/stars/star24_half@2x.png') 
                                    .starOff
                                        background-image: url('../../assets/imgs/stars/star24_off@2x.png')  
                                    .ratingScore
                                        color: #ff6000
                                        margin: 0 3*$vhSize
                                        
                                    .ratingOrderPerMonth
                                     
                                        color: #666
                                .ratingRigth
                                     font-size: 10 * $vhSize
                                     color: $mainBgColor
                                     border: 1px solid $mainBgColor
                            .contentShopRightBottom 
                                font-size: 12*$vhSize
                                color: rgb(102,102,102)
                                .startSplitor
                                    color: rgb(204,204,204)
                                    padding: 0 2*$vhSize









                            

            

              
        
