@import '../../common/common'

.PLogin
  
    .back
        margin: 20*$vhSize 
        font-size: 20px
        color: rgb(102,102,102)
    .content
        .title
            color: $mainBgColor
            text-align: center
            margin-top: 30*$vhSize
            margin-bottom: 60*$vhSize
            font-size: 40*$vhSize
            font-weight: 700
        .formLogin
            .loginTypeGroup
                width: 100%
                display: flex
                margin: 0 auto
                justify-content: center
                margin-bottom: 20*$vhSize
                font-size: 14*$vhSize
                .loginTypeOn
                    color: $mainBgColor
                    padding-bottom: 4*$vhSize
                    border-bottom: 2*$vhSize solid  $mainBgColor
                .loginTypeSms
                    width:56*$vhSize
                    margin-right: 30*$vhSize  
                .loginTypePwd
                    width:56*$vhSize  
            .mobileLogin
                display: flex
                flex-direction: column
                width: 80%    
                margin:  0 auto
               .formMobilePhone
                  position: relative
                  width: 100%
                  .formMobilePhoneGetVerCode
                    position: absolute
                    top:13*$vhSize
                    right: 1*$vhSize
                    border:0
                    background-color: #fff
                    color: #bbb
                    font-size: 14*$vhSize
                  .formLoginInputVer
                    position: absolute
                    top:1*$vhSize
                    right: 2*$vhSize
                    border:0
                    background-color: #fff
                    color: #bbb
                    height: 40%
                    width: 50%
                .formLoginInput
                    width: 100%
                    height: 50*$vhSize
                    border: 1px solid #ddd
                    padding: 10*$vhSize
                    border-radius: 5*$vhSize
                    margin-bottom: 22*$vhSize
                    font-size: 14*$vhSize
                .loginTips
                    font-size: 12*$vhSize
                    color: rgb(102,102,102)
                    margin-bottom: 28*$vhSize
                    line-height: 20*$vhSize
                    a
                      color: $mainBgColor
                .loginBtn    
                    height: 36*$vhSize
                    background-color: #1fd43d
                    color: $mainColor
                    border:0
                    border-radius: 5*$vhSize
            .aboutUs
                color: rgb(102,102,102)
                font-size: 12*$vhSize
                text-align: center
                margin-top:28*$vhSize

            