//公用变量配置
//使用se作为基准  375*667

$vwSize = (100/375)vh
$vhSize = (100/667)vh

$mainBgColor =#02a774
$mainColor =#fff

// 省略号类
.ellipsis
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap